{% extends "base.html" %}
{% load markdown_extras %}
{% block page_header %}

<div class="container">
    <h1 class="display-1 text-bold pt-5 text-uppercase"> {{ category | title }}</h1>
</div>
{% endblock %}

{% block page_content %}


<style>
    .card-deck {
        margin-top: 10px;
        margin-left: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 1.5rem;
    }
</style>

<div class="card-deck mb-3">
    {% for post in posts %}
    <div class="card">
        <a href="{% url 'blog_detail' post.pk%}" class="stretched-link"></a>
        <img class="card-img-top" src="{{ post.image.url }}">
        <div class="card-body">
            <h3 class="card-title">{{ post.title }}</h3>
            <p class="card-text">{{ post.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block page_footer %}
<div class="container">
    <h1 class="display text-bold pt-5 ">Stay in the loop!</h1>
    <h6 class="text-white-soft text-regular">For updates on all things Technology and Economics, subscribe to my weekly
        email.</h5>
        <a href="{% url 'subscribe' %}" class="btn btn-light mt-2 col-sm-4">Subscribe</a>
</div>
{% endblock %}