{% extends "base.html" %}
{% load markdown_extras %}
{% block page_header %}
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Joel_Reji">
<meta name="twitter:creator" content="@Joel_Reji">
<meta name="twitter:title" content="Joel Reji">
<meta name="twitter:description" content="Personal website with content about Economics, Finance, and Technology.">
<meta name="twitter:image" content="https://joelreji.com/media/images/pexels-anete-lusina-4792503.jpg">

<!-- Facebook -->
<meta property="og:url" content="https://joelreji.com/">
<meta property="og:title" content="Joel Reji">
<meta property="og:description" content="Personal website with content about Economics, Finance, and Technology.">
<meta property="og:type" content="website">
<meta property="og:image" content="https://joelreji.com/media/images/pexels-anete-lusina-4792503.jpg">
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="1000">
<meta property="og:image:height" content="500">

<div class="container">
    <h1 class="display-1 text-bold pt-5">Welcome</h1>

</div>
{% endblock %}

{% block page_content %}
<div class="row mb-2">
    <div class="col-md-6">
        {% for post in posts|slice:":1" %}
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Featured post</font>
                    </font>
                </strong>
                <h3 class="mb-0">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">{{ post.title }}</font>
                    </font>
                </h3>
                <div class="mb-1 text-muted">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;"></font>{{ post.created_on.date }}
                    </font>
                </div>
                <p class="card-text mb-auto">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;"></font>{{ post.description }}
                    </font>
                </p>
                <a href="{% url 'blog_detail' post.pk%}" class="stretched-link">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Continue reading</font>
                    </font>
                </a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="{{ post.image.url }}" alt="" width="100%" height=250>


            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Featured project</strong>
                <h3 class="mb-0">Insurance Loss Ratio Prediction</h3>
                <p class="mb-auto">Built various models to predict the loss ratio of various insurance portfolios so
                    that the insurance firm can better price its policies.</p>
                <a href="https://github.com/joelreji/Insurance-Policy-Loss-Prediction" class="stretched-link">Github
                    page</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src="/media/images/pexels-karolina-grabowska-4386375.jpg" alt="" width="100%" height=250>
            </div>
        </div>
    </div>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Explore</h1>
        <p class="lead font-weight-normal">Select your favorite topic. </p>
        {% for category in categories %}
        <a class="btn btn-outline-secondary mb-2" href="{% url 'blog_category' category.name %}">{{ category.name }}</a>
        {% endfor %}
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>
{% endblock %}

{% block page_footer %}
<div class="container">
    <h1 class="display text-bold pt-5 ">Stay in the loop!</h1>
    <h6 class="text-white-soft text-regular">For updates on all things Technology and Economics, subscribe to my weekly
        email chain!</h5>
        <a href="{% url 'subscribe' %}" class="btn btn-light mt-2 col-sm-4">Subscribe</a>
</div>
{% endblock %}