{% extends "base.html" %}
{% load markdown_extras %}
{% block page_header %}
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Joel_Reji">
<meta name="twitter:creator" content="@Joel_Reji">
<meta name="twitter:title" content="{{ post.title }}">
<meta name="twitter:description" content="{{post.description}}">
<meta name="twitter:image" content="https://joelreji.com{{ post.image.url }}">

<!-- Facebook -->
<meta property="og:url" content="https://joelreji.com/">
<meta property="og:title" content="{{post.title}}">
<meta property="og:description" content="{{post.description}}">
<meta property="og:type" content="website">
<meta property="og:image" content="https://joelreji.com{{ post.image.url }}"">
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="1000">
<meta property="og:image:height" content="500">

<div class="container">
    <h1 class="display-1 text-bold pt-5">{{ post.title }}</h1>
    <p class="lead">{{post.description}}</p>
    <p class="lead">{{ post.created_on.date }} </a>&nbsp;</p>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="{{ post.title }}" data-url="https://joelreji.com/{{post.pk}}/" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
{% endblock %}
{% block page_content %}

<div class="contianer-fluid">
    <img src="{{ post.image.url }}" width=100%>
    <hr>
    <div class="text-black">{{ post.body | markdown |safe }}</div>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="{{ post.title }}" data-url="https://joelreji.com/{{post.pk}}/" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <nav>
        <ul class="pagination justify-content-center">
            {% if post.get_previous_by_created_on %}
            <li class="page-item">
                <a class="page-link bg-dark text-white" href="/{{post.get_previous_by_created_on.pk}}"> ❮ {{ post.get_previous_by_created_on.created_on.date }}</a>
            </li>
            {% else %}
            {% endif %}
            {% if post.get_next_by_created_on %}
            <li class="page-item">
                <a class="page-link bg-dark text-white" href="/{{post.get_next_by_created_on.pk}}">{{ post.get_next_by_created_on.created_on.date }} ❯</a>
            </li>
            {% else %}
            {% endif %}
        </ul>
    </nav>
    <h3 class="text-black">Leave a comment:</h3>
    <form action="/{{post.pk}}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
    <hr>
    <h3 class="text-black">Comments:</h3>
    {% for comment in comments %}
    <p class="text-black text-bold">
        On {{comment.created_on.date }}&nbsp;
        <b>{{ comment.author }}</b> wrote:
    </p>
    <div class="text-black">{{ comment.body | markdown |safe }}</div>
    <hr>
    {% endfor %}
</div>
{% endblock %}

{% block page_footer %}
<div class="container">
    <h1 class="display text-bold pt-5 ">Stay in the loop!</h1>
    <h6 class="text-white-soft text-regular">For updates on all things Technology and Economics, subscribe to my weekly
      email chain!</h5>
      <a href="{% url 'subscribe' %}" class="btn btn-light mt-2 col-sm-4">Subscribe</a>
  </div>
  {% endblock %}