{% extends "base.html" %}
{% load markdown_extras %}
{% block page_header %}
<div class="container-fluid site-title">
    Welcome!
</div>
{% endblock %}

{% block page_content %}
<style>
    .card-body {
        background: rgba(255, 252, 252, 0.09);
    }

</style>
<div class="card flex-row flex-wrap">
    {% for post in posts|slice:":1" %}
    <a href="{% url 'blog_detail' post.pk%}">
    <div class="card-header border-0">
        <img src="{{ post.image.url }}" alt="" width="100%">
    </div>
    <div class="card-block px-2">
        <h3 class="card-title" href="{% url 'blog_detail' post.pk%}">{{ post.title }}</h3> </a>
        <p class="card-text">{{ post.description }}</p>
        <h7>
            <a>Tags: </a>
            {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>&nbsp;
        </h7>
        {% endfor %}
    </div>
    <div class="w-100"></div>
    <div class="card-footer w-100 text-muted">
        {{ post.created_on.date }}
    </div>
    {% endfor %}
</div>

<style>
    .card-deck {
        margin-top: 10px;
        margin-left: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 1.5rem;
    }
    a:link {
        color: black;
        background-color: transparent;
        text-decoration: none;
    }
</style>
<div class="card-deck">
    {% for post in posts|slice:"1:" %}
    <div class="card">
        <a href="{% url 'blog_detail' post.pk%}">
            <img class="card-img-top" src="{{ post.image.url }}">
            <div class="card-body">
                <h3 class="card-title">{{ post.title }}</h3>
        </a>
        <p class="card-text">{{ post.description }}</p>
        <h7>
            <a>Tags: </a>
            {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}&nbsp;
            </a>
        </h7>
        {% endfor %}
    </div>
    <div class="card-footer">
        <small class="text-muted">{{ post.created_on.date }}</small>
    </div>
</div>
{% endfor %}
{% endblock %}
