{% extends "base.html" %}
{% load markdown_extras %}
{% block page_header %}
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Joel_Reji">
<meta name="twitter:creator" content="@Joel_Reji">
<meta name="twitter:title" content="Joel Reji">
<meta name="twitter:description" content="Personal website with content about Economics, Finance, and Technology.">
<meta name="twitter:image" content="https://joelreji.com/media/images/pexels-anete-lusina-4792503.jpg">

<!-- Facebook -->
<meta property="og:url" content="https://joelreji.com/">
<meta property="og:title" content="Joel Reji">
<meta property="og:description" content="Personal website with content about Economics, Finance, and Technology.">
<meta property="og:type" content="website">
<meta property="og:image" content="https://joelreji.com/media/images/pexels-anete-lusina-4792503.jpg">
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="1000">
<meta property="og:image:height" content="500">

<style>
    .site-title-main {
        margin: 60px 0px 0px 0px;
        font-size: 250%;
        line-height: 200%;
        font-weight: 100%;
        text-align: left;
    }

    .lead-main {
        line-height: 100%;
        text-align: left;
        font-size: 50%;
    }
</style>
<div class="container-fluid site-title-main">
    Stay in the loop!
    <p class="lead lead-main">For updates on all things Technology and Economics, subscribe to my weekly email chain!</p>
</div>
{% endblock %}

{% block page_content %}
<style>
    .card-body {
        background: rgba(255, 252, 252, 0.09);
    }
</style>
<div class="card flex-row flex-wrap">
    {% for post in posts|slice:":1" %}
    <a href="{% url 'blog_detail' post.pk%}">
        <div class="card-header border-0">
            <img src="{{ post.image.url }}" alt="" width="100%">
        </div>
        <div class="card-block px-2">
            <h3 class="card-title" href="{% url 'blog_detail' post.pk%}">{{ post.title }}</h3>
    </a>
    <p class="card-text">{{ post.description }}</p>
    <h7>
        <a>Tags: </a>
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
    </h7>
    {% endfor %}
</div>
<div class="w-100"></div>
<div class="card-footer w-100 text-muted">
    {{ post.created_on.date }}
</div>
{% endfor %}
</div>

<style>
    .card-deck {
        margin-top: 10px;
        margin-left: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-gap: 1.5rem;
    }

    a:link {
        color: black;
        background-color: transparent;
        text-decoration: none;
    }
</style>
<div class="card-deck">
    {% for post in posts|slice:"1:" %}
    <div class="card">
        <a href="{% url 'blog_detail' post.pk%}">
            <img class="card-img-top" src="{{ post.image.url }}">
            <div class="card-body">
                <h3 class="card-title">{{ post.title }}</h3>
        </a>
        <p class="card-text">{{ post.description }}</p>
        <h7>
            <a>Tags: </a>
            {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}&nbsp;
            </a>
        </h7>
        {% endfor %}
    </div>
    <div class="card-footer">
        <small class="text-muted">{{ post.created_on.date }}</small>
    </div>
</div>
{% endfor %}
{% endblock %}