{% extends "base.html" %}
{% load markdown_extras %}
{% block page_header %}
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Joel_Reji">
<meta name="twitter:creator" content="@Joel_Reji">
<meta name="twitter:title" content="Joel Reji">
<meta name="twitter:description" content="Personal website with content about Economics, Finance, and Technology.">
<meta name="twitter:image" content="{{ post.image.url }}">

<!-- Facebook -->
<meta property="og:url" content="https://joelreji.com/">
<meta property="og:title" content="Joel Reji">
<meta property="og:description" content="Personal website with content about Economics, Finance, and Technology.">
<meta property="og:type" content="website">
<meta property="og:image" content={{ post.image.url }}>
<meta property="og:image:type" content="image/jpg">
<meta property="og:image:width" content="1000">
<meta property="og:image:height" content="500">
<div class="container-fluid site-title">
    {{ post.title }}
    <p class="lead">{{post.description}}</p>
    <p class="lead"> Categories: {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </p>
    <p class="lead">{{ post.created_on.date }} </a>&nbsp;
</div>
{% endblock %}
{% block page_content %}

<div class="contianer-fluid">
    <img src="{{ post.image.url }}" width=100%>
    <hr>
    <div class="text-white">{{ post.body | markdown |safe }}</div>
    <hr>
    <nav>
        <ul class="pagination justify-content-center">
            {% if post.get_previous_by_created_on %}
            <li class="page-item">
                <a class="page-link bg-dark text-white" href="/{{post.get_previous_by_created_on.pk}}"> ❮ {{ post.get_previous_by_created_on.created_on.date }}</a>
            </li>
            {% else %}
            {% endif %}
            {% if post.get_next_by_created_on %}
            <li class="page-item">
                <a class="page-link bg-dark text-white" href="/{{post.get_next_by_created_on.pk}}">{{ post.get_next_by_created_on.created_on.date }} ❯</a>
            </li>
            {% else %}
            {% endif %}
        </ul>
    </nav>
    <h3 class="text-white">Leave a comment:</h3>
    <form action="/{{post.pk}}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
    <hr>
    <h3 class="text-white">Comments:</h3>
    {% for comment in comments %}
    <p class="text-success">
        On {{comment.created_on.date }}&nbsp;
        <b>{{ comment.author }}</b> wrote:
    </p>
    <div class="text-white">{{ comment.body | markdown |safe }}</div>
    <hr>
    {% endfor %}
</div>
{% endblock %}