{% extends "base.html" %}
{% load static %}

{% block page_content %}
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Joel_Reji">
<meta name="twitter:creator" content="@Joel_Reji">
<meta name="twitter:title" content="{{ portfolio.title }}">
<meta name="twitter:description" content="Personal Portfolio with recent projects.">
<meta name="twitter:image" content="{{ portfolio.image.url }}">
<!-- Facebook -->
<meta property="og:url" content="https://joelreji.com/">
<meta property="og:title" content="{{ portfolio.title }}>
<meta property="og:description" content="Personal Portfolio with recent projects.">
<meta property="og:type" content="website">
<meta property="og:image" content="{{ portfolio.image.url }}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1000">
<meta property="og:image:height" content="500">

<h1 class="display-1 text-bold">{{ portfolio.title }}</h1>
<div class="row">
    <div class="col-md-8 pb-3">
        <img src="{{ portfolio.image.url }}" alt="" width="100%">
    </div>
    <div class="col-md-4 text-black">
        <h5>About the project:</h5>
        <p>{{ portfolio.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ portfolio.technology }}</p>
        <a type="button" href="{{ portfolio.prodUrl }}" class="btn btn-dark mb-3">Production Link</a>
    </div>
</div>
{% endblock %}

{% block page_footer %}
<div class="container">
    <h1 class="display text-bold pt-5 ">Stay in the loop!</h1>
    <h6 class="text-white-soft text-regular">For updates on all things Technology and Economics, subscribe to my weekly
        email.</h5>
        <a href="{% url 'subscribe' %}" class="btn btn-light mt-2 col-sm-4">Subscribe</a>
</div>
{% endblock %}