{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Joel_Reji">
<meta name="twitter:creator" content="@Joel_Reji">
<meta name="twitter:title" content="Subscribe to my blog!">
<meta name="twitter:description" content="Personal website with content about Economics, Finance, and Technology.">
<meta name="twitter:image" content="https://joelreji.com/media/images/Cream & Red Circle Monogram Logo-3.png">

<!-- Facebook -->
<meta property="og:url" content="https://joelreji.com/">
<meta property="og:title" content="Subscribe to my blog!">
<meta property="og:description" content="Personal website with content about Economics, Finance, and Technology.">
<meta property="og:type" content="website">
<meta property="og:image" content="https://joelreji.com/media/images/Cream & Red Circle Monogram Logo-3.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1000">
<meta property="og:image:height" content="500">
<div class="container">
    <h1 class="display-1 text-bold pt-5">Subscribe</h1>
</div>
{% endblock %}

{% block page_content %}

<style>
    .messages {
        color: black;
    }
</style>
<div>
    <form action="{% url 'subscribe' %}" method="post">
        {% csrf_token %}
        <div class="text-left mb-4">
            <p>Get quality content right to your mailbox.</p>
        </div>
        <form>
            <div class="form-group">
                <label class="text-black text-bold">Name</label>
                {{form.name }}
            </div>
            <div class="form-group">
                <label class="text-black text-bold" id="email">Email address </label>
                {{form.email}}
            </div>
            <button type="submit" class="btn btn-dark" data-toggle="modal" data-target="#myModal">Submit</button>
        </form>
    </form>
</div>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
