{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
<div class="container">
    <h1 class="display-1 text-bold pt-5">Subscribe</h1>
</div>
{% endblock %}

{% block page_content %}

<style>
    .messages {
        color: black;
    }
</style>
<div>
    <form action="{% url 'subscribe' %}" method="post">
        {% csrf_token %}
        <div class="text-left mb-4">
            <p>Get quality content right to your mailbox.</p>
        </div>
        {{form |crispy}}

        <button type="submit" class="btn btn-dark">Submit</button>

    </form>
</div>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}